<div class="ui inverted vertical footer segment" style="
    position: absolute;
    bottom: 0;
    padding: 5em 0em;
    width: 100%;
">
  <div class="ui center aligned container">
    <div class="ui horizontal list">
      <div class="item">
        <a class="ui circular twitter icon button" href="https://twitter.com">
          <i class="twitter icon"></i>
        </a>
      </div>
      <div class="item">
        <a class="ui circular facebook icon button" href="https://facebook.com">
          <i class="facebook icon"></i>
        </a>
      </div>
      <div class="item">
        <a class="ui circular github icon button" href="https://github.com">
          <i class="github icon"></i>
        </a>
      </div>
      <div class="item">
        <a class="ui circular linkedin icon button" href="https://www.linkedin.com">
          <i class="linkedin icon"></i>
        </a>
      </div>
    </div>

    <div class="ui divider"></div>
    <p>Made with <a href="#home"><i class="heart icon" style="color: red"></i></a> by your favorite team</p>
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#About">About</a>
    </div>
  </div>
</div>
