<script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">

  <div id="footer" class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui horizontal list">
        <div class="item">
          <a class="ui circular twitter icon button" href="https://twitter.com">
            <i class="twitter icon"></i>
          </a>
        </div>
        <div class="item">
          <a class="ui circular facebook icon button" href="https://facebook.com">
            <i class="facebook icon"></i>
          </a>
        </div>
        <div class="item">
          <a class="ui circular github icon button" href="https://github.com">
            <i class="github icon"></i>
          </a>
        </div>
        <div class="item">
          <a class="ui circular linkedin icon button" href="https://www.linkedin.com">
            <i class="linkedin icon"></i>
          </a>
        </div>
      </div>

      <div class="ui divider"></div>
      <p>Made with <a href="#home"><i class="heart icon" style="color: red"></i></a> by your favorite team</p>
        <div class="ui horizontal small divided link list">
        <a class="item" href="#About">About</a>
      </div> -->
    </div>
  </div>
