<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="ui bottom attached segment pushable">
     <% include header.ejs%>
     <div id="edit">
       <button class="ui labeled icon button" onclick="<% edit = false %>;/graph/edit;">
         <i class="edit icon"></i>
           Edit
         </button>
       </div>
      <div id="menu" class="ui visible inverted left vertical sidebar menu">
        <div class="ui search" id="graph-search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search graph...">
            <i class="search icon"></i>
          </div>
          <div class="results">
            <!--write a reactive search.js file and implement it here (an array of objects each with a title and description)-->
          </div>
        </div>
        <% if(edit){ %>
          <div id="edit cards">
            <div class="ui card">
              <form class="ui form" action="" method=post enctype="multipart/form-data">
                <div class ="field">
                  <div class="content">
                    <input type = "text" id="enter-term" placeholder="Term">
                  </div>
              </div>
              <div class="field">
                <div class="description">
                  <label>Definition</label>
                  <textarea rows=1></textarea>
                </div>
              </div>
              <div class="field">
                <div class="extra content">
                    <i class="share alternate icon"></i>
                    Enter relationships:
                    <div id="new-Relationship">
                      <!-- Script for creating a new relationship form -->
                      <script src="addRelationship.js" language="Javascript" type="text/javascript"></script>
                        <div id="dynamicInput">
                          <br><input type="text" name="myInputs[]" placeholder=Relationship>
                      </div>
                       <input class="fluid ui button" type="button" value="+" onClick="addInput('dynamicInput');">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <%}else{%>
          <div id="plotted-cards">
            <div class="ui card">
            <div class="content">
              <a class="header"><%= term %></a>
            </div>
            <div class="description">
              <%= definition %>
            </div>
            <div class="extra content">
              <a href="#">
                <i class="share alternate icon"></i>
                Relationships
              </a>
            </div>
          </div>
        </div>
      <% } %>
      <!-- Loop through the cards, displaying them here () -->
      </div>

      <div class="pusher">
        <div id="graph" class="ui basic segment">
          <h3 class="ui header">Application Content</h3>
            Graph
            <!-- Sigma div (graph) goes here -->
        </div>
      </div>
    </div>
  </body>
</html>
