<link rel="stylesheet" href="style.css">

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/add">Add feed</a></li>
    <li><a href="/settings">Settings</a></li>
  </ul>
</nav>
