#title{
  padding: 90px;
}

#login{
  padding: 50px;
  top:50%;
  left: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

  #login-form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

  #login-button{
    padding: 8px;
  }

  #signup{
      padding: 50px;
      top:50%;
      left: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }

#graph-search{
  text-align: center;
  padding-top: 50px;
}

#edit{
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

#edit-card{
  text-align: right;
}

#add-relationship{
  color: black;
  length: 50px;
}


#menu-grid{
  text-align: left;
  width: 200px;
}

#menu{
  width: 250px;
}


#top-menu{
  padding-left: 300px;
}
